<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Top Courses</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/Machine Learning.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Machine Learning.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Machine Learning</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Andrew Ng's Machine Learning course provides a comprehensive foundation in the principles and techniques of machine learning. Through practical exercises and real-world applications, you'll gain the skills to build intelligent systems and make data-driven decisions</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/Financial Markets.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Financial Markets.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Financial Markets</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Explore the intricacies of Financial Markets in this comprehensive course. Gain insights into stocks, bonds, and investment strategies, equipping you with essential knowledge for navigating the dynamic world of finance.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/Artificial Intelligence.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Artificial Intelligence.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Artificial Intelligence</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Discover the fascinating world of Artificial Intelligence (AI). This course delves into the principles, techniques, and applications of AI, empowering you to understand and leverage cutting-edge technologies shaping our digital future.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/Blockchain.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Blockchain.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Blockchain Technology</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Delve into the fundamentals of Blockchain Technology. This course provides a comprehensive introduction to decentralized ledgers, smart contracts, and the transformative potential of blockchain across various industries.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Team!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>