<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
   <div class="main-container">
    <div class="row">
        <div class="column">
            <div class="container">
                <h2 class="title">Total Courses</h2>
                <h1 class="title">{{data?.courses}}</h1>
                <p><button class="button" routerLink="[/cafe/category]">View Courses</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="container">
                <h2 class="title">Total Video Lectures</h2>
                <h1 class="title">{{data?.videoLectures}}</h1>
                <p><button class="button" routerLink="[/cafe/product]">View Courses</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="container">
                <h2 class="title">Total PDF Files</h2>
                <h1 class="title">{{data?.pdf}}</h1>
                <p><button class="button" routerLink="[/cafe/bill]">View Courses</button></p>
            </div>
        </div>
    </div>
    <!-- ...existing code -->
 
<!-- ...existing code -->

   </div>
</body>